<div class="home-container col-md-12">
  <div class="row">
    <!--Contacts List-->
    <div class="col-4">
      <div class="row contacts">
        Contacts
      </div>
      <div *ngFor="let user of users">
        <div class="row contact-container" (click)="onUserSelect(user)">
          <div class="col-9" style="display: flex;">
            <div class="name">{{user.name}}</div>
            <div *ngIf="user.online" class="logged-in">●</div>
            <div *ngIf="!user.online" class="logged-out">●</div>
          </div>
        </div>
      </div>
    </div>

    <!--Message Dialog box-->
    <div class="col-8 message-container" *ngIf="selectedUser">
      <div class="recepient">
        <span> {{selectedUser.name}}</span>
      </div>
      <div class="messages-list">
        <div *ngFor="let item of chatData" class="message">
           <div *ngIf="item.sender === selectedUser.name || item.receiver === selectedUser.name" class="{{ (item.sender === currentUser?.name) ? 'right-msg' : 'left-msg'}}">
            {{item.message}}
            </div>
        </div>
        <button (click)="startVideo()">video</button>
      </div>
      <div class="input-msg">
        <div class="form-group">
          <input (keyup.enter)="onEnter(selectedUser.name, message)" type="text" class="form-control" [(ngModel)]="message" placeholder="Type a Message">
        </div>
      </div>
    </div>
    <div class="col-8 no-messages-box" [hidden]="selectedUser">
      Go ahead & select a contact!
    </div>
  </div>
      <div>
        <video #remoteVideo id="remote-video" autoplay></video>
        <video #localVideo id="local-video" autoplay></video>
      </div>
</div>